.container {
    height: 100%;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 0rem 4rem;
    color: white;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 4rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
    .logo {
        display: flex;
        align-items: center;
        gap: 1rem;

        h1 {
            font-size: 2.5rem;
            font-weight: 600;
            font-family: 'Heebo', sans-serif;
        }

        img {
            width: 7rem;
            height: 7rem;
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        span {
            &:nth-child(1) {
                font-size: 3rem;
                font-family: 'Orbitron', sans-serif;
                font-weight: 500;
            }

            &:nth-child(2) {
                font-size: 2rem;
                font-family: 'Heebo', sans-serif;
                font-weight: 500;
            }
        }
    }

    .interview {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap-reverse;
        margin-top: auto;
        margin-top: 2rem;
        align-items: center;
        justify-content: space-between;
        .calendar {
            flex-grow: 1;
            flex-basis: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15rem;

            svg {
                cursor: pointer;
            }
        }

        .info {
            flex-grow: 1;
            flex-basis: 0;
            display: flex;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            font-family: 'Heebo', sans-serif;
            letter-spacing: -0.5;

            span {
                font-family: 'Orbitron', sans-serif;
                font-weight: 500;
                font-size: 2rem;
                text-align: center;
            }

            p {
                margin: 0rem;
                font-size: 1.2rem;
                font-weight: 500;
                max-width: 40rem;
                text-align: center;
            }
            button {
                background-color: red;
                padding: 10px 15px;
                border-radius: 5px;
                background-color: transparent;
                cursor: pointer;
                color: white;
                border: solid 1px white;
                font-weight: 800;
                margin-top: 1rem;
                font-family: 'Orbitron', sans-serif;
                text-transform: uppercase;
            }
        }
    }
}



.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
    .title {
        font-family: 'Orbitron', sans-serif;
        font-weight: 500;
        font-size: 1.7rem;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0rem;
        gap: 2rem;
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            span {
                &:first-child {
                    user-select: none;
                    font-family: 'Orbitron', sans-serif;
                    font-weight: 500;
                    font-size: 1.5rem;
                }

                &:last-child {
                    display: flex;
                    gap: 0.5rem;
                    font-size: 1rem;
                    align-items: center;
                    font-family: 'Heebo', sans-serif;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
